@import '../../../../styles.scss';

.main-container {
  flex-direction: row;
  margin-top: 40px;
}

.image-container {
  min-width: 50%;
  background-color: $secondary-color;
  border-radius: 10px;
}

.content {
  max-width: 45%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title .divider {
  height: 1px;
  width: 60%;
  background-color: $on-background-40-color;
}

.description p {
  text-align: justify;
}

.tecnology-container {
  display: flex;
}


.info-container {
  display: flex;
  justify-content: space-between;
}

.icon-button {
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.6s ease;
  &:hover {
    transform: translate(-3px, -3px);
  }
}
