<!-- <div class="container">
  <div class="content" [ngStyle]="{ transform: 'translateX(' + (-indexCurrentImage * 100  ) + 'px)'}">
    <img *ngFor="let image of images" [src]="image" alt="carousel image">
  </div>
</div> -->
<div class="container" [ngClass]="{'hover-enabled': images.length >= 2}">
  <div class="button before" (click)="before()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
  </div>
  <img src="{{ images[indexCurrentImage] }}" alt="Imagem do Carrossel" class="image active">
  <div class="button next" (click)="next()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
  </div>
</div>
