<section>
  <h3>Meus Projetos</h3>
  <div class="container">
    <div class="image"></div>
    <div class="content">
      <div class="title">
        <h4>{{ project.title }}</h4>
        <div class="divider"></div>
      </div>
      <div *ngFor="let description of project.description" class="description">
        <p>{{ description }}</p>
      </div>
      <div class="tecnology-container">
        <app-badge *ngFor="let tecnology of project.tecnologies">{{ tecnology }}</app-badge>
      </div>
    </div>
  </div>
</section>
