<section>
  <h3>Vamos conversar?</h3>
  <p>
    Estou proucurando novas oportunidades no momento. Se você gostou dos meus projetos ou tem interesse em saber mais sobre o meu trabalho, não hesite em entrar em contato. Ficarei feliz em discutir ideias e colaborar em projetos.
  </p>
  <div class="container">
    <img src="../../../../assets/images/contact-icons/linkedin.png" alt="Linkedin">
    <img src="../../../../assets/images/contact-icons/github.png" alt="GitHub">
    <img src="../../../../assets/images/contact-icons/gmail.png" alt="Gmail">
    <img src="../../../../assets/images/contact-icons/phone.png" alt="Telefone">
  </div>
  <a href="https://github.com/carol-sf/MeuPortfolio" class="footer">Desenhado & Desenvolvido por <br>Anna Carolina França</a>
</section>
