<router-outlet>
  <app-menu></app-menu>
  <app-main-section></app-main-section>
  <app-skills-section></app-skills-section>
  <app-project-web-police></app-project-web-police>
  <app-project-bizu-app></app-project-bizu-app>
  <app-project-section [project]="ProjectsData.policeWeb"></app-project-section>
  <app-project-section [project]="ProjectsData.appBizu" [contentFirst]="true"></app-project-section>
  <app-project-section [project]="ProjectsData.pdvBizu"></app-project-section>
  <app-project-section [project]="ProjectsData.webBizu" [contentFirst]="true"></app-project-section>
  <app-contact-section></app-contact-section>
</router-outlet>
