<section class="section">
  <div>
    <p class="no-margin">Olá, meu nome é</p>
    <h1>Anna Carolina França.</h1>
    <h2>Desenvolvedora Front-End.</h2>
    <p class="description">
      Meu foco é transformar ideias em interfaces que sejam não só bonitas, mas também intuitivas e fáceis de usar. Seja na web ou mobile, adoro me desafiar a cada novo projeto.
    </p>
    <app-button>Baixar meu currículo</app-button>
  </div>
  <img src="../assets/images/profile-photo-edited.png" alt="Foto de perfil de Anna Carolina França" class="image">
</section>
