@import '../../../../styles.scss';

.section {
  position: relative;
  display: flex;
  align-items: center;
}

.image {
  position: absolute;
  bottom: 0;
  right: 0;
}

p {
  color: $on-background-40-color;
  margin: 0;
}

.description {
  width: 50%;
  margin: 20px 0 40px 0;
}
